<div class="container" id="header">
	<h1>Dawg Coffee</h1>
	<h1>Orders</h1>
	<div id="motto">
		<p>Supplying beans to Sleepy Huskies since 2015</p>
	</div>
</div>



<div class="container">
	<h2 class="bean-name">My Cart</h2>
	<div class="row">
		<div class="col-md-3">Item</div>
		<div class="col-md-2">Grind</div>
		<div class="col-md-2">Quantity</div>
		<div class="col-md-2">Unit Price</div>
		<div class="col-md-3">Total Price</div>
	</div>
	<hr>
	<div ng-repeat="order in orders">
		<div class="row" >
			<div class="col-md-3">{{order.name}}</div>
			<div class="col-md-2">{{order.grind}}</div>
			<div class="col-md-2">{{order.quantity}}</div>
			<div class="col-md-2">{{order.price | currency}}</div>
			<div class="col-md-3">{{order.price * order.quantity | currency}}</div>
		</div>
		<hr>
	</div>
</div>