<div class="container" id="header">
	<h1>Dawg Coffee</h1>
	<h1>Orders</h1>
	<div id="motto">
		<p>Supplying beans to Sleepy Huskies since 2015</p>
	</div>
</div>



<div class="container">
	<h2 class="bean-name">My Cart</h2>
	<div class="row">
		<div class="col-sm-3">Item</div>
		<div class="col-sm-3">Grind</div>
		<div class="col-sm-2">Pounds</div>
		<div class="col-sm-2">Unit Price</div>
		<div class="col-sm-2">Total Price</div>
	</div>
	<hr>
	<div ng-repeat="order in orders">
		<div class="row" >
			<div class="col-sm-3">{{order.name}}</div>
			<div class="col-sm-3">{{order.grind}}</div>
			<div class="col-sm-2"><i class="fa fa-minus-circle" ng-click="decrease($index, order)"></i>  {{order.quantity}}  <i class="fa fa-plus-circle" ng-click="increase($index, order)"></i></div>
			<div class="col-sm-2">{{order.price | currency}}</div>
			<div class="col-sm-2">{{order.price * order.quantity | currency}}<i class='fa fa-trash-o' ng-click="delete($index)"></i></div>
		</div>
		<hr>
	</div>
	<div class="row">
		<div class="col-sm-8"></div>
		<div class="col-sm-2">Grand Total</div>
		<div class="col-sm-2">{{total() | currency}}</div>
	</div>
</div>
<button type="button" class="btn btn-primary" ng-click="submit()">Submit Order</button>

<div id="footer">
	<div class="row">
		<div class="col-sm-3">
			<p>&copy; 2015 Dawg Coffee</p>	
		</div>
		<div class="col-sm-9">
			<p>Icons by
			    <a href="http://www.freepik.com" title="Freepik">Freepik</a>,
			    <a href="http://www.bogdanrosu.com" title="Bogdan Rosu">Bogdan Rosu</a>
			    from
			    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
			    is licensed under
			    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
			    Information about coffee growers from <a href="https://www.sweetmarias.com/">Sweet Maria's</a>.
			</p>
		</div>
	</div>
</div>