

	<div class="container" id="header">
		<h1>Dawg Coffee</h1>
		<h1>Orders</h1>
    	<div id="motto">
    		<p>Supplying beans to Sleepy Huskies since 2015</p>
    	</div>
	</div>

	<div class="container">
	<form>
		<div class="purchase"  class="form-group">
			<h2 class="bean-name">Purchase</h2>
			<p>{{bean.price | currency}} per pound</p>
			<h3>Quantity:</h3>
 			<input id="quantity" ng-model="order.quantity" type="number" min="1" max="10">
			<h3>Grind:</h3>
			<select id="grind" ng-model="order.grind">
				<option value="Whole Bean">Whole Bean</option>
				<option value="Espresso">Espresso</option>
				<option value="French Press">French Press</option>
				<option value="Cone Drip Filter">Cone Drip Filter</option>
				<option value="Flat Bottom Filter">Flat Bottom Filter</option>
			</select>
			<br/>
			<button type="submit" class="btn btn primary" id="add" ng-click="getOrder(bean.name, bean.price)"><a ui-sref="cart">Add to cart</a></button>
		</div>  
	</form>
		<h2 class="bean-name">{{bean.name}}</h2>

		<img class="bean-img" ng-src="{{bean.image}}">
		<p><em>{{bean.description}}</em></p>
	</div>
		

		
	<div class="container">
		<h2 class="bean-name">About The Grower, {{bea.grower.name}}</h2>
		<img ng-src="{{bean.grower.image}}">
		<p>{{bean.grower.description}}</p>
		<a class="details" href="{{bean.grower.externalUrl}}">Grower Site</a>
	</div>

	<div class="footer">
		<div class="row">
			<div class="col-sm-3">
				<p>&copy; 2015 Dawg Coffee</p>	
			</div>
			<div class="col-sm-9">
				<p>Icons by
				    <a href="http://www.freepik.com" title="Freepik">Freepik</a>,
				    <a href="http://www.bogdanrosu.com" title="Bogdan Rosu">Bogdan Rosu</a>
				    from
				    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
				    is licensed under
				    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
				    Information about coffee growers from <a href="https://www.sweetmarias.com/">Sweet Maria's</a>.
				</p>
			</div>
		</div>
	</div>

	
