<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<body ng-controller="OrdersCtrl">
	
	<div class="container" id="header">
		<h1>Dawg Coffee</h1>
		<h1>Orders</h1>
    	<div id="motto">
    		<p>Supplying beans to Sleepy Huskies since 2015</p>
    	</div>
	</div>

	<div class="form-group">
          <label>Search Products:</label>
          <input preid="search" pattern=".{2,}" required title="2 characters minimum" name="search" placeholder="Type here" ng-model="query" class="form-control">
        </input>
    </div>


	<div class="container" ng-show="beans">
		<div class="beans" class="container-fluid" ng-repeat="bean in beans | filter:query">
            <!-- <img class="bean-img" ng-src="{{bean.image}}"> -->
            <h2 class="bean-name">{{bean.name}}</h2>
            <p><em>{{bean.description}}</em></p>
            <p>{{bean.price | currency}} per pound</p>
            <a class="details" href="{{bean.grower.externalUrl}}">Details</a>
        </div>

	</div>

</body>