<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<body ng-controller="OrdersCtrl">
	
	<div class="container" id="header">
		<h1>Dawg Coffee</h1>
		<h1>Orders</h1>
    	<div id="motto">
    		<p>Supplying beans to Sleepy Huskies since 2015</p>
    	</div>
	</div>

	<div class="form-group">
          <label>Search Products:</label>
          <input preid="search" pattern=".{2,}" required title="2 characters minimum" name="search" placeholder="Type here" ng-model="query" class="form-control">
        </input>
    </div>


	<div class="container" ng-show="beans">
		<div class="beans" class="container-fluid" ng-repeat="bean in beans | filter:query">
            <!-- <img class="bean-img" ng-src="{{bean.image}}"> -->
            <a ui-sref="beans({id: bean.id})"><h2 class="bean-name">{{bean.name}}</h2></a>
            <p><em>{{bean.description}}</em></p>
            <p>{{bean.price | currency}} per pound</p>
            <a class="details" href="{{bean.grower.externalUrl}}">Details</a>
        </div>

	</div>

	<div id="footer">
		<div class="row">
			<div class="col-sm-3">
				<p>&copy; 2015 Dawg Coffee</p>	
			</div>
			<div class="col-sm-9">
				<p>Icons by
				    <a href="http://www.freepik.com" title="Freepik">Freepik</a>,
				    <a href="http://www.bogdanrosu.com" title="Bogdan Rosu">Bogdan Rosu</a>
				    from
				    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
				    is licensed under
				    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
				</p>
			</div>
		</div>
	</div>
</body>