@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
    text-align: left;
    padding: 0 25px;
}

label {
    display: block;
    padding-top: 1em;
}

input {
    display: block;
}

.button {
	padding-top: 1em;
}

.container-fluid {
	margin-top: 1em;
	background-color: whitesmoke;
}

.up, .down, .delete {
	float: right;
	margin: .5em;
}

.currentTitle {
	display: inline;
	vertical-align: middle;
}

.raty {
	display: inline;
	margin-left: 1em;
}

#ratyTop {

}

.body {
	padding-top: 2em;
}

.votes {
	float: right;
	position: relative;
	bottom: .25em;
	right: .25em;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}


body.loading .modal {
    display: block;
}