@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
    background: #eee;
    text-align: left;
    padding: 0 25px;
    background-color: white;
}

label {
    display: block;
    padding-top: 1em;
}

input {
    display: block;
}

.button {
	padding-top: 1em;
}

.container-fluid {
	margin: 10px;
	background-color: whitesmoke;
	text-align: left;
}
