@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
    text-align: left;
    padding: 0 25px;
}

label {
    display: block;
    padding-top: 1em;
}

input {
    display: block;
}

.button {
	padding-top: .5em;
}

.container-fluid {
	margin-top: 1em;
	background-color: whitesmoke;
}

#up, #down {
	float: right;
	margin: .5em;
}

#currentTitle {
	display: inline;
	vertical-align: middle;
	margin-left: .25em;
}

#ratingFixed {
	display: inline;
}