@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
	font-family: 'Lato', 'Helvetica Nue', Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: #E9EAEE;

	
}

h1, h2, h3, h4, h5, h6 {
		font-family: 'Raleway', 'Helvetica Nue', Helvetica, sans-serif;
	}

h2 {
		color: #bc6026;
	}

svg {
	fill: currentColor;
	width: 1em;
	height: 1em;
}

nav {
	color: white;
	position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: -1;
    background-color: #181c22;
    font-size: 16px;
    padding-left: 15px;
}

li {
	display: inline;
	padding: 0.5em;
	font-variant: small-caps;
}

.header-container {
	background-repeat: no background-repeat;
	width: 100%;
	padding-top: 3em;
}

.motto-container {
	display: none;
}

.icon {
	display: none;
}

.headline {
	font-style: italic;
}

@media screen and (min-width: 768px) {
	body {
		font-size: 20px;
		
	}

	h2 {
		text-align: center;
		padding-bottom: 1em;
	}

	nav {
		background-color: rgba(24, 28, 34, 0.8);
	}

	li {
		padding-left: 1em;
		padding-right: 1em;
	}

	.header-container {
		background-image: url(C:/Users/Kai/Documents/Junior/Fall/Info343/code/challenges/dawg-coffee/img/background-sm.jpg);
		padding-top: 50px;
		height: 550px;
		color: white;
		text-align: right;
	}

	.motto-container {
		display: inherit;
	}


	.icon {
		display: inherit;
		height: 1.5em;
		padding-bottom: 1em;
	}

	.headline {
		font-size: 1.25em;
		text-align: center;
		padding-top: 3em;
		padding-top: 3em;
	}

}

@media screen and (min-width: 992px) {
	.header-container {
		background-image: url(C:/Users/Kai/Documents/Junior/Fall/Info343/code/challenges/dawg-coffee/img/background-md.jpg);
	}

	h1 {
		font-size: 4em;
	}
}

@media screen and (min-width: 1200px) {
	.header-container {
		background-image: url(C:/Users/Kai/Documents/Junior/Fall/Info343/code/challenges/dawg-coffee/img/background-lg.jpg);
	}
}

a:hover, a:focus { 
	text-decoration: none;
	color: #d87e28;
	fill: currentColor;
}
 .information {
 	width: 100%;
 	text-align: center;
 	background-color: #dbdce3;
 }

.map {
	border-radius: 5px;
}

i {
	color: black;
}